.btn-cta {
    display: inline-block;
    margin: 0 auto;
    background-color: $brand-third;
    color: #FFF !important;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none !important;
    padding: 2px 14px;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,.5);
}
