.mce-content-body {
    ul {
        li {
            position: relative;
            padding-left: 1.4em;
            &:before {
                content:'';
                display: block;
                position: absolute;
                top: 0.1em;
                left: 0;
                width: 0.6em;
                height: 0.6em;
                border-radius: 50%;
                border: 3px solid $brand-secondary;
            }
            padding-bottom: 10px;
        }
    }

    a {
        text-decoration: underline;
        font-weight: bold;
    }
}
