.wp-tiles-tile.with-post-id, .wp-tiles-tile.with-url, .content-gallery li, .block-gallery.gallery-interactive li {



}

.wp-tiles-tile.with-post-id, .wp-tiles-tile.with-url, .content-gallery li, .block-gallery.gallery-interactive li {
    z-index: 0;

    @keyframes updateDepthIn {
        0% { z-index: 0;}
        50% { z-index: 1;}
        100% { z-index: 2;}
    }

    @keyframes updateDepthOut {
        0% { z-index: 2;}
        50% { z-index: 1;}
        100% { z-index: 0;}
    }

    transition-property: transform, box-shadow, z-index;
    transition-duration: .2s, .2s, 0s;
    transition-delay: 0s, 0s, .2s;
    animation-name: updateDepthOut;
    animation-duration: .4s;
    box-shadow: 0 0 3px 0px transparent;

    &:hover {
        z-index: 2;
        animation-name: updateDepthIn;
        animation-duration: .2s;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.1);
        box-shadow: 0 0 3px 0px #000;
    }
}

.wp-tiles-tile {
    &:nth-child(3) {
        text-align: right;
    }
}
