// normal
.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x,
.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    background-color: #468ea5 !important;
}

// hover
.ps-container:hover>.ps-scrollbar-x-rail:hover>.ps-scrollbar-x,
.ps-container:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y {
    background-color: #2d88a5 !important;
}

// rail
.ps-container.ps-active-x>.ps-scrollbar-x-rail, .ps-container:hover>.ps-scrollbar-x-rail:hover,
.ps-container.ps-active-y>.ps-scrollbar-y-rail, .ps-container:hover>.ps-scrollbar-y-rail:hover {
    background-color: rgba(12,128,165,0.3) !important;
}

.ps-container>.ps-scrollbar-x-rail,
.ps-container>.ps-scrollbar-y-rail {
    cursor: pointer;
    z-index: 9999;
}
