$accro-image-path: "../images/accro/";
$accro-logo-height: 120px;
$accro-logo-mobile-height: 70px;
$header-accro-extra-height: $accro-logo-height - $header-height;
$header-accro-mobile-extra-height: $accro-logo-mobile-height - $header-mobile-height;
