// Glyphicons font path
$icon-font-path:        "../fonts/";
$image-path:        "../images/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Fonts
$font-primary: "Noto Sans";

// Layout
$small-width:           320px;
$medium-width:          1024px;
$large-width:           1920px;

// Colors
$brand-primary:         #FFFFFF;// white
$brand-secondary:       #2c87a5;// blue
$brand-third:           #d67f32;// orange
$brand-dark:            #121212;// black


// Header
$header-height: 50px;
$logo-height: 60px;
$header-extra-height: $logo-height - $header-height;

//Page
$main-padding: 30px;
$about-step-padding: 20px;
