// Glyphicons font path
$icon-font-path:        "../fonts/";
$image-path:        "../images/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Fonts
$font-primary: "Noto Sans";

// Layout
$small-width:           320px;
$medium-width:          1024px;
$large-width:           1920px;

// Colors
$brand-primary:         #FFFFFF;// white
$brand-secondary:       #1891b9;// blue
$brand-third:           #D67F32;// orange
$brand-dark:            #1C1C1C;// black


// Header
$header-height: 60px;
$logo-height: 70px;
$header-extra-height: $logo-height - $header-height;

// Mobile header
$header-mobile-height: 40px;
$logo-mobile-height: 50px;
$header-extra-mobile-height: $logo-mobile-height - $header-mobile-height;

//Page
$main-padding: 30px;
$about-step-padding: 20px;
