// Glyphicons font path
$icon-font-path:        "../fonts/";
$image-path:        "../images/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;


// Layout
$header-height: 68px;
$logo-width: 254px;
$logo-height: 90px;

// Colors
$brand-primary:         #FFFFFF;
$brand-secondary:       #2c87a5;


// Header
$main-menu-font-size: 14px;
$mini-menu-font-size: 12px;
