body.page-template-page-about {
    main {
        background-color: $brand-secondary;
    }
    .block {

        &.block-main {
            background-color: $brand-primary;
            min-height: 40%;
        }

        &.block-columns {
            background-color: $brand-secondary;
            color: $brand-primary;
            text-align: center;
            counter-reset: COLUMNS 0;

            .content-column {
                padding: 8.75em $about-step-padding $about-step-padding;
                position: relative;
                &:before {
                    content: counter(COLUMNS);
                    counter-increment: COLUMNS;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    z-index: 0;

                    font-size: 10em;
                    font-weight: bold;
                    color: $brand-third;
                }

                header, section {
                    position: relative;
                    z-index: 1;
                }

                header {
                    font-size: 34px;
                    font-weight: bold;
                    margin-bottom: 0.5em;
                }

                section {
                    font-size: 18px;
                }
            }
        }
    }
}
