body.page-template-page-clients {
    main {
        overflow: visible;

        header, .page-header {
            padding: 20px 20px;
        }
    }

    .scrollable-container {

        .content-gallery {
            padding: 30px 10px;
            box-sizing: border-box;

            .wp-tiles-tile {

                .wp-tiles-byline-wrapper {
                    overflow: hidden;
                }
                h4 {
                    position: absolute;
                    top: 100%;
                    left: 100%;
                }

                .tagline {
                    &.tagline-0 {
                        font-weight: bold;
                        color: $brand-secondary;
                    }
                }

                &.without-link {
                    .wp-tiles-byline {
                        display: none;
                    }
                }
            }
        }

        .content-list {
            background-color: $brand-secondary;
            color: $brand-primary;
            padding: 10px 0;
            box-sizing: border-box;

            ul {
                list-style-type: none;
                li {
                    padding: 14px 20px;

                    h4 {
                        color: $brand-dark;
                        margin-bottom: 4px;
                    }

                    p {
                        font-size: 0.8em;
                    }

                    &:nth-child(odd)
                    {
                        background-color: rgba(255,255,255,0.2);
                    }
                    &:nth-child(even)
                    {

                    }
                }
            }
        }
    }
}
