body.page-template-page-contact {

    .main {
        background-color: $brand-secondary;
    }

    .block-main-container {
        background-color: $brand-primary;
    }

    .block.block-main {
        padding-top: $header-extra-height;
        max-width: 1100px !important;
        margin: 0 auto;

        .content-description {
            position: relative;
            padding: 70px 160px 160px;
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;

            .page-content {
                position: relative;
            }

            .page-infos {
                text-align: right;
                font-weight: bold;
                h1 {
                    color: $brand-secondary;
                    font-size: 24px;
                    padding-top: 10px;
                }

                a:hover {
                    text-decoration: underline;
                }

            }
        }
    }

    .block.block-form h2 {
        padding-top: 30px;
    }

    @media screen and (max-width: $medium-width) {
        .block.block-main {
            .content-description {
                background-image: none !important;
                padding: 20px;

                .page-infos div {
                    font-size: 0.9em;
                }
            }
        }
    }
}
