body.page-template-page-event {
    .block-main-container {

        .block.block-main {
            overflow:hidden;
            margin-top: 30px;
            margin-bottom: 10px;

            &:first-of-type {
                margin-top: 0;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            .block-text, .block-title, .block-gallery.static-width, .block-gallery.uses-max-width, .block-text-with-image.not-full-width, &.block-main-columns_gallery {
                max-width: $medium-width;
                margin: 0 auto;
                padding: 0 30px;
                box-sizing: border-box;
            }

            &.block-main-content .content-description {
                background-color: $brand-light-gray;
                box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
                padding-top: 40px;
                padding-bottom: 30px;

                @media screen and (max-width: $medium-width) {
                    padding-top: 20px;
                    padding-bottom: 16px;
                    font-size: 0.8em;
                }
            }

            .block-content.content-description {
                .block-content .page-content {
                    font-size: 16px;
                }
            }

            .block-separator {
                border-top: 2px solid rgba(0,0,0,0.3);
                width: 40%;
                margin: 20px auto;
            }

            .block-title {

                a {
                    font-weight: bold;
                    text-decoration: underline;
                    color: $brand-third;
                }

                &.style-normal {
                    text-transform: uppercase;
                    color: $brand-third;
                }

                &.style-with_background {
                    background-color: $brand-light-gray;
                    max-width: 100%;
                    margin: auto 0 4px;
                    padding: 40px 30px 30px;
                    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
                    @media screen and (max-width: $medium-width) {
                        padding-top: 20px;
                        padding-bottom: 16px;
                    }
                }

                &.block-title-under-content {
                    margin-top: 30px;
                }

                padding: 8px 30px 20px;

                &.align-center {
                    text-align: center;
                }

                &.align-right {
                    text-align: right;
                }

                @media screen and (max-width: $small-width) {
                    text-align: center;
                    font-size: 0.8em;
                }
            }

            .block-gallery {
                position: relative;
                padding-bottom:16px;

                &.with-background-color {
                    .list-item {
                        background-color: $brand-light-gray;
                    }
                }

                &.gallery-interactive {
                    .list-items {

                        .list-item {

                            &.hide-text {
                                background-color: transparent;
                                &:hover {
                                    box-shadow: none;
                                }
                                .item-image {
                                    position: relative;
                                    height: 100%;
                                }
                                .item-content {
                                    visibility: hidden;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            &.without-image {
                                background-color: $brand-light-gray;
                                color: $brand-dark;
                                box-shadow: 2px 4px 10px rgba(0,0,0,0.3);
                                .item-content {
                                    opacity: 1;
                                    background-color: transparent;

                                    .item-title {
                                        color: $brand-dark;
                                    }



                                    @media screen and (max-width: $small-width) {
                                        height: 100%;
                                        position: relative;
                                        left: auto;
                                        bottom: auto;
                                    }
                                }
                                &:hover {
                                    animation-name: none;
                                    animation-duration: 0s;
                                    transform: none;
                                }
                            }

                            &:not(.without-image) {
                                &:hover {
                                    .item-content {
                                        opacity: 1;
                                        transform:scale(1.02);
                                    }
                                }
                            }

                            .item-content {
                                z-index: 1;
                                position: relative;
                                width: 100%;
                                height: 100%;
                                opacity: 0;
                                transition: opacity .4s;
                                background-color: rgba(0,0,0,0.7);
                                padding: 10px;
                                box-sizing: border-box;

                                .item-content-inner {
                                    display: inline-block;
                                    vertical-align: middle;
                                    white-space: normal;
                                }

                                &:before {
                                    content:'';
                                    display: inline-block;
                                    vertical-align: middle;
                                    height: 100%;
                                }

                                div {
                                    vertical-align: middle;
                                }

                                .item-title {
                                    text-transform: uppercase;
                                    color: $brand-primary;
                                }

                                @media screen and (max-width: $large-width) {
                                    h1 {
                                        font-size: 0.9em;
                                    }
                                }

                                @media screen and (max-width: $medium-width) {
                                    h1 {
                                        font-size: 0.75em;
                                    }
                                }

                                @media screen and (max-width: $small-width) {
                                    height: 30%;
                                    position: absolute;
                                    left: 0;
                                    bottom: 0;
                                    opacity: 1;
                                    h1 {
                                        font-size: 0.7em;
                                    }
                                }
                            }
                        }
                    }
                }

                &.gallery-normal {

                    .list-item {

                        &.with-image {
                            .item-image {
                                position: relative;
                            }
                            .item-content {
                                @extend .fullscreen;
                                text-indent: -999999px;
                            }
                        }

                        &.without-image {
                            background-color: $brand-light-gray;
                            color: $brand-dark;
                            box-shadow: 2px 4px 10px rgba(0,0,0,0.3);
                        }
                    }

                    .item-content {
                        height: 100%;
                        box-sizing: border-box;
                        font-size: 0.8em;

                        .item-content-inner {
                            display: inline-block;
                            vertical-align: middle;
                            white-space: normal;
                        }

                        &:after {
                            content:'';
                            display: inline-block;
                            vertical-align: middle;
                            height: 100%;
                        }
                    }
                }

                &.gallery-details {
                    .list-items {
                        display: block;
                        .list-item {
                            display: inline-block;
                            margin-bottom: 20px !important;

                            .item-element {
                                display: block;
                                position: relative;
                            }

                            .item-image {
                                z-index: 1;
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 100%;
                            }

                            .item-content {
                                padding-left: 10px;
                                text-align: left;
                                height: 100%;
                                overflow: auto;
                                white-space:normal;

                                .item-title {
                                    font-size: 1em;
                                }

                                .item-subtitle {
                                    font-size: 0.8em;
                                    color: $brand-third;
                                }

                                .item-description {
                                    padding-top: 10px;
                                    font-size: 10px;
                                    overflow: auto;
                                }
                            }

                            .item-content-inner {
                                padding: 0 20px;
                            }


                        }
                    }

                    @media screen and (max-width: $medium-large-width) {
                        .list-items {
                            .list-item {
                                width: 50% !important;
                                .item-image {
                                    width: 40% !important;
                                }

                                .item-content {
                                    padding-left: 40% !important;
                                    font-size: 0.8em;
                                }
                            }
                        }
                        padding: 0 20px;
                        box-sizing: border-box;
                    }

                    @media screen and (max-width: $small-width) {
                        .list-items {
                            .list-item {
                                width: 100% !important;
                                .item-content-inner {
                                    padding-left: 12px;
                                    padding-right: 0;

                                    p {
                                        font-size: 1em;
                                    }
                                }
                            }
                        }
                    }

                    @media screen and (max-width: $phone-width) {
                        .list-items {
                            .list-item {
                                .item-content {
                                    font-size: 0.6em;
                                }
                            }
                        }
                    }
                }

                &.gallery-two-tiles {
                    .list-items {

                        .list-item {
                            width: 50%;

                            .item-image {
                                position: relative;
                                display: inline-block;
                            }

                            .item-content {
                                display: inline-block;
                                vertical-align: top;
                                height: 100%;
                                padding: 10px;
                                box-sizing: border-box;

                                .item-content-inner {
                                    display: inline-block;
                                    vertical-align: middle;
                                    white-space: normal;
                                }

                                &:after {
                                    content:'';
                                    display: inline-block;
                                    vertical-align: middle;
                                    height: 100%;
                                }

                                h1, div {
                                    display: block;
                                    width: 100%;
                                }
                            }
                            .item-image, .item-content {
                                width: 50% !important;
                            }

                            &:nth-child(4n+3), &:nth-child(4n+4)
                            {
                                .item-content {
                                    position:relative;
                                    left: -50%;
                                }
                                .item-image {
                                    position:relative;
                                    left: 50%;
                                }
                            }
                        }

                        @media screen and (max-width: $small-width) {
                            .list-item {
                                width: 100% !important;

                                h1 {
                                    font-size:0.9em;
                                }

                                &:nth-child(4n+3), &:nth-child(4n+4)
                                {
                                    .item-content {
                                        position:relative;
                                        left: 0;
                                    }
                                    .item-image {
                                        position:relative;
                                        left: 0;
                                    }
                                }

                                &:nth-child(even)
                                {
                                    .item-content {
                                        position:relative;
                                        left: -50%;
                                    }
                                    .item-image {
                                        position:relative;
                                        left: 50%;
                                    }
                                }
                            }
                        }
                    }
                }

                &.gallery-label {
                    .list-items {
                        .list-item {
                            padding-bottom: 20px;
                            margin: 0;
                            .item-image {
                                position: relative;
                                box-sizing: border-box;
                            }
                        }
                        @media screen and (max-width: $small-width) {
                            display: flex;
                            font-size: 14px;

                            .list-item {
                                height: 70px !important;
                            }
                        }
                    }
                }

                &.full-width {
                    .list-items {

                        .list-item {
                            margin: 0;
                            padding: 0;
                            white-space: nowrap;
                            vertical-align: top;
                        }
                    }
                }

                &.with-padding {
                    .list-items {
                        .list-item {
                            padding: 2em !important;
                        }
                    }
                }

                &.static-width {

                }

                .list-items {
                    font-size: 0;
                }

                .list-item {
                    position: relative;
                    background-color: $brand-primary;
                    box-sizing: border-box;
                    font-size: 18px;
                }

                .item-image {
                    @extend .fullscreen;
                    z-index: 0;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                &.gallery-normal:not(.uses-max-width), &.gallery-interactive {
                    @media screen and (max-width: $small-width) {
                        .list-items {
                            .list-item {
                                width: 50% !important;
                                margin: 0 !important;
                            }
                        }
                    }
                }
            }

            &.block-align-left {
                .block-gallery.full-width {
                    .list-items {
                        justify-content: flex-start;
                    }
                }
            }

            &.block-align-right {
                .block-gallery.full-width {
                    .list-items {
                        justify-content: flex-end;
                    }
                }
            }

            .block-text {
                padding: 0 30px 20px;
                box-sizing: border-box;
                a {
                    display: inline-block;
                    padding-top: 10px;
                    font-weight: bold;
                    text-decoration: underline;
                    color: $brand-third;
                }
            }

            &.block-main-about {
                .block-about {
                    .block-content {
                        &.content-description {
                            .content-description-inner {
                                display: table;
                                .page-header, .page-content {
                                    display: table-cell;
                                    vertical-align: top;
                                }
                                .page-content {
                                    ul {
                                        li {
                                            position: relative;
                                            padding-left: 1.4em;
                                            &:before {
                                                content:'';
                                                display: block;
                                                position: absolute;
                                                top: 0.1em;
                                                left: 0;
                                                width: 0.6em;
                                                height: 0.6em;
                                                border-radius: 50%;
                                                border: 3px solid $brand-secondary;
                                            }
                                            padding-bottom: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }


                &.block-align-right {
                    .block-about {
                        .block-content {
                            &.content-description {
                                position: relative;
                                left: 30%;
                            }
                            &.content-image {
                                position: relative;
                                left: -70%;
                            }
                        }
                    }
                }

                @media screen and (max-width: $medium-width) {
                    .block-about {
                        .block-content {
                            &.content-image {
                                width: 30% !important;
                            }
                        }
                    }
                }

                @media screen and (max-width: $small-width) {
                    &.block-main-about {
                        .block-about {
                            .block-content {
                                &.content-description, &.content-image {
                                    left: 0;
                                }
                                &.content-description {
                                    .page-header, .page-content {
                                        display: block;
                                    }
                                    .content-description-inner {
                                        display: block;
                                    }
                                }
                                &.content-image {
                                    width: 100% !important;
                                }
                            }
                        }
                    }
                }
            }

            .block-text-with-image {
                display: flex;
                .block-content {

                    &.content-description {
                        padding-bottom: 20px;
                    }

                    &.content-image {
                        flex-shrink: 0;
                    }
                }

                &.not-full-width {
                    &.align-left {
                        .block-content.content-description {
                            padding-left: 0;
                        }
                    }

                    &.align-right {
                        .block-content.content-description {
                            padding-right: 0;
                        }
                    }
                }

                &.align-right {
                    .content-description {
                        order: 1;
                    }
                }

                @media screen and (max-width: $small-width) {
                    display: block;
                }
            }

            &.block-main-columns_gallery {

                .gallery-title {
                    font-size: 16px;
                    margin-top: 1em;
                    margin-bottom: 1em;
                    text-transform: uppercase;
                }

                .list-items {
                    font-size: 0;
                    text-align: left;
                    .list-item {
                        font-size: 12px;
                        margin: 0;
                        position: relative;

                        .item-content {
                            text-indent: -9999999px;
                            @extend .fullscreen;
                        }

                        .item-image {
                            height: 100%;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                        }
                    }
                }
            }
        }
    }
}
