body.page-template-page-event {
    .block-main-container {
        padding-bottom: 20px;
        .block.block-main {

            margin-top: $header-accro-extra-height + 0px;

            @media screen and (max-width: $small-width) {
                margin-top: $header-accro-mobile-extra-height + 10px;
            }

            .block-text, .block-title, .block-gallery.static-width, .block-text-with-image.not-full-width {
                max-width: $medium-width;
                margin: 0 auto;
                padding: 0 30px;
                box-sizing: border-box;
            }

            &.block-main-content .content-description {
                background-color: $brand-light-gray;
                box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
            }

            .block-content.content-description {
                .block-content .page-content {
                    font-size: 16px;
                }
            }

            .block-separator {
                border-top: 2px solid rgba(0,0,0,0.3);
                width: 40%;
                margin: 0 auto;
            }

            .block-title {

                &.style-normal {
                    text-transform: uppercase;
                    color: $brand-third;
                }

                &.style-with_background {
                    background-color: $brand-light-gray;
                    max-width: 100%;
                    margin: auto 0 4px;
                    padding: 40px 0 30px;
                    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
                }

                padding: 8px 30px 20px;

                &.align-center {
                    text-align: center;
                }

                &.align-right {
                    text-align: right;
                }
            }

            .block-gallery {
                position: relative;

                &.gallery-interactive {
                    .list-items {
                        .list-item {
                            box-sizing: border-box;
                            &:hover {
                                border: 1px solid $brand-dark;
                                .item-content {
                                    opacity: 1;
                                }
                            }

                            .item-content {
                                z-index: 1;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                position: relative;
                                width: 100%;
                                height: 100%;
                                opacity: 0;
                                transition: opacity .4s;
                                background-color: rgba(0,0,0,0.7);

                                div {
                                    vertical-align: middle;
                                }

                                .item-title {
                                    text-transform: uppercase;
                                    color: $brand-primary;
                                }
                            }
                        }
                    }
                }

                &.gallery-normal {

                    &.with-background-color {
                        .list-item {
                            background-color: $brand-light-gray;
                        }
                    }

                    .list-item {

                        &.with-image {
                            .item-image {
                                position: relative;
                            }
                            .item-content {
                                text-indent: -999999px;
                            }
                        }

                        &.without-image {
                            background-color: $brand-light-gray;
                            color: $brand-dark;
                        }
                    }

                    .item-content {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;
                        box-sizing: border-box;
                        font-size: 0.8em;
                    }
                }

                &.gallery-details {
                    .list-items {
                        display: block;
                        .list-item {
                            display: inline-block;

                            .item-element {
                                display: block;
                                position: relative;
                            }

                            .item-image {
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 100%;
                            }

                            .item-content {
                                padding-left: 10px;
                                text-align: left;

                                .item-title {

                                }

                                .item-subtitle {
                                    color: $brand-third;
                                }

                                .item-description {
                                    padding-top: 10px;
                                    font-size: 10px;
                                    overflow: auto;
                                }
                            }

                            .item-content-inner {
                                padding: 0 20px;
                            }

                            @media screen and (max-width: $small-width) {
                                //width: 100% !important;
                                .item-image {
                                    //width: 50% !important;
                                }
                            }
                        }
                    }
                }

                &.gallery-two-tiles {
                    .list-items {
                        flex-wrap: wrap;

                        .list-item {
                            width: 50%;
                            display: flex;

                            .item-image {
                                position: relative;
                            }

                            .item-content {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;

                                h1, div {
                                    display: block;
                                    width: 100%;
                                }
                            }
                            .item-image, .item-content {
                                width: 50% !important;
                            }

                            &:nth-child(4n+3), &:nth-child(4n+4)
                            {
                                .item-content {
                                    order: -1;
                                }
                            }
                        }

                        @media screen and (max-width: $small-width) {
                            .list-item {
                                width: 100% !important;

                                &:nth-child(4n+3), &:nth-child(4n+4)
                                {
                                    .item-content {
                                        order: 0
                                    }
                                }

                                &:nth-child(even)
                                {
                                    .item-content {
                                        order: -1;
                                    }
                                }
                            }
                        }
                    }
                }

                &.gallery-label {
                    .list-items {
                        .list-item {
                            padding-bottom: 20px;
                            margin: 0;
                            .item-image {
                                position: relative;
                                box-sizing: border-box;
                            }
                        }
                        @media screen and (max-width: $small-width) {
                            display: flex;
                            font-size: 14px;

                            .list-item {
                                height: 70px !important;
                            }
                        }
                    }
                }

                &.full-width {
                    .list-items {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        .list-item {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }

                &.with-padding {
                    .list-items {
                        .list-item {
                            padding: 2em !important;
                        }
                    }
                }

                &.static-width {

                }

                .list-items {
                    font-size: 0;
                    .list-item {
                        position: relative;
                        background-color: $brand-primary;
                        box-sizing: border-box;
                        font-size: 18px;
                        @media screen and (max-width: $small-width) {
                            width: 50% !important;
                            margin: 0 !important;
                        }
                        .item-image {
                            @extend .fullscreen;
                            z-index: 0;
                            background-repeat: no-repeat;
                            background-position: center;


                        }
                    }
                }
            }

            .block-text {
                padding: 0 30px;
                box-sizing: border-box;
                a {
                    display: inline-block;
                    padding-top: 10px;
                    font-weight: bold;
                    text-decoration: underline;
                    color: $brand-third;
                }
            }

            &.block-main-about {
                .block-about {
                    display: flex;
                    .block-content {
                        &.content-description {
                            display: flex;
                            ul {
                                li {
                                    position: relative;
                                    padding-left: 1.4em;
                                    &:before {
                                        content:'';
                                        display: block;
                                        position: absolute;
                                        top: 0.1em;
                                        left: 0;
                                        width: 0.6em;
                                        height: 0.6em;
                                        border-radius: 50%;
                                        border: 3px solid $brand-secondary;
                                    }
                                    padding-bottom: 10px;
                                }
                            }
                        }
                    }
                }


                &.block-align-right {
                    &.block-main-about {
                        .block-about {
                            .block-content {
                                &.content-description {
                                    order: 1;
                                }
                            }
                        }
                    }
                }

                @media screen and (max-width: $small-width) {
                    &.block-main-about {
                        .block-about {
                            display: block;

                            .content-description {
                                display: block;
                            }
                        }
                    }
                }
            }

            .block-text-with-image {
                display: flex;
                .block-content {

                    &.content-description {
                        padding-bottom: 20px;
                    }

                    &.content-image {
                        flex-shrink: 0;
                    }
                }

                &.not-full-width {
                    &.align-left {
                        .block-content.content-description {
                            padding-left: 0;
                        }
                    }

                    &.align-right {
                        .block-content.content-description {
                            padding-right: 0;
                        }
                    }
                }

                &.align-right {
                    .content-description {
                        order: 1;
                    }
                }

                @media screen and (max-width: $small-width) {
                    display: block;
                }
            }

            &.block-main-columns_gallery {

                .gallery-title {
                    font-size: 16px;
                    margin-bottom: 1em;
                    text-transform: uppercase;
                }

                .list-items {
                    font-size: 0;
                    text-align: left;
                    .list-item {
                        font-size: 12px;
                        margin: 0;
                        position: relative;

                        .item-content {
                            text-indent: -9999999px;
                            @extend .fullscreen;
                        }

                        .item-image {
                            height: 100%;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                        }
                    }
                }
            }
        }
    }
}
