footer.content-info {
    position: relative;
    width: 100%;
    background-color: $brand-light-gray;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
    font-weight: bold;
    margin-top: 16px;

    img {
        margin: 0 2em;
        width: auto !important;
        height: 40px;
    }

    ul {
        display: flex;
        justify-content: center;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 5%;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    @media screen and (max-width: $small-width) {
        ul {
            li {
                font-size: 0.7em;
            }
        }
    }
}
