header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    background-color: #121212;
    z-index: 1;

    .brand {
        display: block;
        z-index: 1;
        position: absolute;
        left: 20px;
        top: 1px;
        width: $logo-width;
        height: $logo-height;
        text-indent: -999999px;
        background-image: url($image-path+'/logo.png');
    }

    .nav-primary {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .right-content {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        text-align: right;
    }

    .mini-menu {
        li {
            border-right: 1px solid $brand-primary;
            padding-right: 5px;
            &:last-of-type {
                border-right: 0;
            }
        }
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
        }
    }

    a {
        text-transform: uppercase;
    }

    .qtranxs-lang-menu
    {
    }
}
