html[lang=en-US] {
    header.banner {
        nav {
            &.nav-tertiary {
                li {
                    width: 20px;
                    height: 20px;
                    margin-right: 6px;

                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

header.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    background-color: $brand-dark;
    z-index: 10;
    color: $brand-primary;
    font-weight: bold;


    .brand {
        z-index: 1;
        display: inline-block;
        position: absolute;
        margin-left: 20px;
        height: $logo-height;
        img {
            height: 100%;
        }
    }

    .hamburger {
        display: none;
        cursor: pointer;
    }

    .header-wrapper, .header-content {
        position: relative;
        height: 100%;
    }

    .header-wrapper {
        padding: 5px 10px;
        box-sizing: border-box;
    }

    nav {
        position: absolute;

        ul {
            padding: 0;
            margin: 0;
            font-size: 0;
            white-space:nowrap;

            li {
                font-size: 16px;
                display: inline-block;
                white-space: normal;

                a {
                    display: inline-block;
                    text-transform: uppercase;
                    transition: color .2s ease-in-out;

                    &:hover {
                        color: $brand-secondary;
                    }
                }

                &.hidden {
                    display: none;
                }

                &.current-menu-item {
                    a {
                        color: $brand-secondary;
                        pointer-events: none;
                        cursor: default;
                    }
                }
            }
        }

        &.nav-primary {
            bottom: 0;
            width: 100%;
            text-align: center;

            li {
                margin-right: 14px;
            }
        }

        &.nav-secondary {
            right: 0;
            text-align: right;

            >div, >span {
                float: left;
            }

            &:after {
                content: '';
                display: block;
                clear: both;
            }

            li {
                font-size: 14px;
                &:after
                {
                    content: '\00a0|\00a0';
                    font-weight: normal;
                    display: inline;
                }
                &:last-of-type {
                    &:after {
                        content: none;
                        display: none;
                    }
                }
            }
        }

        &.nav-tertiary {
            bottom: 0;
            right: 0;
            text-align: right;

            li {
                width: 22px;
                height: 22px;
                margin-right: 14px;

                &:last-of-type {
                    margin-right: 0;
                }

                a {
                    width:100%;
                    height: 100%;
                    text-indent: 100%;
                	white-space: nowrap;
                	overflow: hidden;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                &.facebook a {
                    background-image: url($image-path+'/social/facebook.svg');
                }

                &.linkedin a {
                    background-image: url($image-path+'/social/linkedin.svg');
                }

                &.twitter a {
                    background-image: url($image-path+'/social/twitter.svg');
                }

                &.instagram a {
                    background-image: url($image-path+'/social/instagram.svg');
                }
            }
        }
    }

    @media screen and (max-width: $medium-width) {

        height: $header-mobile-height;

        .brand {
            height: $logo-mobile-height;
        }

        .hamburger {
            z-index: 2;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: $header-mobile-height;
            height: 100%;

            background: url($image-path+'hamburger.svg') no-repeat center;
        }

        .header-wrapper {
            background-color: $brand-dark;
            position: absolute;
            width: 100%;
            height: auto;
            bottom: 0;
            padding: $header-mobile-height 0 0;
            left: 0;

            transform: translateY(0%);
            transition: transform .4s ease-in-out, bottom .4s ease-in-out;


        }

        .header-content {
            padding: 30px 10px 10px;
            box-sizing: border-box;
            &:after {
                content: '';
                display: block;
                clear: both;
            }
            opacity: 0;
            pointer-events: none;
            transition: opacity .2s ease-in-out;
        }


        nav {
            ul li {
                font-size: 14px;
            }

            &.nav-primary {
                z-index: 1;
                position: relative;
                bottom: auto;
                left: auto;
                display: block;
                margin-bottom: 20px;

                ul {
                    &:after {
                        content: '';
                        display: block;
                        clear: both;
                    }
                    li {
                        display: block;
                        float: left;
                        width: 50%;
                        margin: 0;
                        box-sizing: border-box;
                        position: relative;
                        text-align: left;

                        a {
                            width: 100%;
                            padding: 10px 0 10px 10px;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                            position: relative;
                            box-sizing: border-box;

                            &:after {
                                content: '>\00a0';
                                position: absolute;
                                right: 0;
                                line-height: 1.4em;
                                color: $brand-secondary;
                            }
                        }

                        &:nth-child(odd){
                            padding-right: 10px;
                        }
                        &:nth-child(even){
                            padding-left: 10px;
                        }
                    }
                }
            }

            &.nav-secondary {
                z-index: 2;
                position: relative;
                float: left;
                width: 50%;
                vertical-align: middle;
                text-align: left;
                padding-left: 10px;
                box-sizing: border-box;

                .menu-links-container {
                    float: none;
                }

                ul li {
                    font-size: 14px;
                    &:after {
                        padding:0 6px;
                    }
                }
            }

            &.nav-tertiary {
                z-index: 2;
                height: auto;
                vertical-align: middle;
                position: relative;
                float: left;
                width: 50%;
                right: auto;
                bottom: auto;
                text-align: left;
                padding-left: 16px;
                box-sizing: border-box;
                ul {
                    li {
                        margin-right: 10px;
                        width: 24px;

                        &:last-of-type {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        &.opened {
            .header-wrapper {
                transform: translateY(100%);
                bottom: 100%;
            }

            .header-content {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

}
