body.home {
    .wp-tiles-tile {
        text-transform: uppercase;
        z-index: 0;

        &.with-post-id, &.with-url {

            @keyframes updateDepthIn {
                0% { z-index: 0;}
                50% { z-index: 1;}
                100% { z-index: 2;}
            }

            @keyframes updateDepthOut {
                0% { z-index: 2;}
                50% { z-index: 1;}
                100% { z-index: 0;}
            }

            transition-property: transform, box-shadow, z-index;
            transition-duration: .4s, .4s, 0s;
            transition-delay: 0s, 0s, .4s;
            box-shadow: 0 0 4px #000;
            animation-name: updateDepthOut;
            animation-duration: .4s;

            &:hover {
                z-index: 2;
                animation-name: updateDepthIn;
                animation-duration: .2s;
                transform: scale(1.1, 1.1);
                box-shadow: 0 0 4px #000;
            }

            .wp-tiles-byline {
                padding: 40px 20px 20px;
                box-sizing: border-box;

                .wp-tiles-byline-wrapper {
                    position: relative;
                    height: 100%;
                    box-sizing: border-box;
                }

                .wp-tiles-byline-title {

                    &:before {
                        content: '> ';
                        color: $brand-secondary;
                    }

                    display: inline;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    font-size: 1em;
                }

                .wp-tiles-byline-content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    text-shadow: 0 0 2px #000;

                    .tagline {
                        display: block;
                        font-size: 1.8em;
                        line-height: 1.3;

                        &.tagline-1 {
                            color: $brand-secondary;
                        }
                    }
                }
            }
        }

        &.without-link {

            .wp-tiles-byline {

                opacity: 1 !important;
                background-color: transparent !important;
                display: table;

                .wp-tiles-byline-wrapper {
                    display: table-cell;
                    vertical-align: middle;
                }

                .wp-tiles-byline-title {
                    font-size: 4em;
                    line-height: 1.1;
                }

                .wp-tiles-byline-content {
                    display: none;
                }
            }

            .wp-tiles-tile-bg {
                background-color: $brand-secondary;
                background-blend-mode: soft-light;
            }
        }
    }
}
