body.home {
    overflow: hidden;
    .wp-tiles-tile {
        text-transform: uppercase;
        &.with-post-id, &.with-url {
            background-color: transparent !important;
            .wp-tiles-byline {
                padding: 40px 20px 20px;

                @media screen and (max-width: $medium-width) {
                    height: 30% !important;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    opacity: 1;
                    padding: 0 10px;
                }

                .wp-tiles-byline-wrapper {
                    position: relative;
                    height: 100%;
                    box-sizing: border-box;
                }

                .wp-tiles-byline-title {

                    &:before {
                        content: '> ';
                        color: $brand-secondary;
                    }

                    display: inline;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    font-size: 1em;
                    box-sizing: border-box;
                }

                .wp-tiles-byline-content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    text-shadow: 0 0 2px #000;

                    .tagline {
                        font-size: 1.8em;
                        line-height: 1.3;

                        &.tagline-1 {
                            color: $brand-secondary;
                        }
                    }

                    @media screen and (max-width: $medium-width) {
                        display: none;
                    }
                }
            }
        }

        &.without-link {

            .wp-tiles-byline {

                opacity: 1 !important;
                background-color: transparent !important;
                display: table;
                table-layout: fixed;

                .wp-tiles-byline-wrapper {
                    display: table-cell;
                    vertical-align: middle;
                }

                .wp-tiles-byline-title {
                    font-size: 4em;
                    line-height: 1.1;

                    @media screen and (max-width: $large-width) {
                            font-size: 3.15em;
                    }

                    @media screen and (max-width: $medium-width) {
                            font-size: 2.5em;
                    }

                    @media screen and (max-width: $small-width) {
                            font-size: 1.1em;
                    }

                    @media screen and (max-width: 360px) {
                            font-size: 0.9em;
                    }

                    @media screen and (max-width: $phone-width - 1px) {
                            font-size: 0.8em;
                    }
                }

                .wp-tiles-byline-content {
                    display: none;
                }
            }

            .wp-tiles-tile-bg {
                background-color: $brand-secondary;
                background-blend-mode: soft-light;
            }
        }
    }

    .wp-tiles-tile {
        &:nth-child(3) {
            text-align: right;
        }
    }

    @media screen and (max-width: $medium-width) {
        .wp-tiles-tile {

            &:nth-child(2) {
                left: 0 !important;
                top: 25% !important;
            }

            &:nth-child(3) {
                left: 50% !important;
                top: 0 !important;
            }


        }
    }
}
