html, body {
    height: 100%;
}

body {
    font-family: $font-primary;
    overflow: hidden;
}

.content {
    padding-top: $header-height;
    height: 100%;
    box-sizing: border-box;
    transition: opacity .4s;

    &.hidden {
        opacity: 0;
    }
}

.main {
    /*padding-top: $logo-height - $header-height;*/
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
