html, body {
    height: 100%;
}

body {
    font-family: $font-primary;
}

.content {
    padding-top: $header-height;
    height: 100%;
    box-sizing: border-box;

    .main {
        /*padding-top: $logo-height - $header-height;*/
        box-sizing: border-box;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
