html, body {
    height: 100%;
}

body {
    font-family: $font-primary;
    overflow: hidden;
}

.content {
    padding-top: $header-height;
    height: 100%;
    box-sizing: border-box;
    transition: opacity .2s;

    &.hidden {
        opacity: 0;
    }

    @media screen and (max-width: $medium-width) {
        padding-top: $header-mobile-height;
    }
}

.main {
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

p.qtranxs-available-languages-message {
    display:none;
}

h1 {
    font-size: 1.20em;
}

p {
    font-size: 1.1em;
}
