body.page-template-page-medias {
    overflow: hidden;

    main {
        header, .page-header {
            color: $brand-secondary;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .scrollable-content {
    }

    .press-article {
        position: relative;
        z-index: 0;
        overflow: hidden;

        img {
            width: 100%;
            vertical-align: bottom;
        }

        .link-infos {
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            color: $brand-primary;
            background-color: rgba(0,0,0,0.8);
            display: table;
            padding: 5px 20px;
            box-sizing: border-box;

            .names, .date {
                display: table-cell;
                vertical-align: bottom;
            }

            .names {
                width: 100%;
                h3 {
                    color: $brand-secondary;
                }
            }
            .date {
                opacity: 0.8;
                font-size: 1.3em;
            }

            &:after {
                content: '';
                clear: both;
                display: block;
            }

            transform: translateY(100%);
            transition: transform .2s ease-in-out;
        }

        &:hover {
            .link-infos {
                transform: translateY(0%);
            }
        }
    }

    .content-gallery {
        z-index: 1;
        /*padding-left: 50px;/* avoid overflow cutoff */
    }

    @media screen and (max-width: $medium-width) {
        .press-article {
            .link-infos {
                transform: translateY(0%);
                position: relative;
                bottom: auto;
                left: auto;
                width: auto;
            }
        }
    }
}
