body.page-template-page-multicontent {
    .block {

        &.block-main {


            &.block-main-even {
                background-color: $brand-primary;

                header, .page-header, ul {
                    color: $brand-secondary;
                }

                svg * {
                    fill: $brand-secondary !important;
                }
            }

            &.block-main-odd {

                color: $brand-primary;
                background-color: $brand-secondary;

                .content-description {
                    position: relative;
                    left: 30%;
                }
                .content-image {
                    position: relative;
                    left: -70%;
                }

                svg * {
                    fill: $brand-primary !important;
                }
            }
        }

        &.block-without-content {
            background-color: $brand-dark;
            color: $brand-primary;

            svg * {
                fill: $brand-primary !important;
            }
        }
    }

    ul.list-items {
        padding: 10px;
        text-align: center;
        .list-item {
            display: inline-block;
            margin-right: 30px;

            &:last-of-type {
                margin-right: 0;
            }

            svg, img {
                width: 50px !important;
                height: auto !important;
            }
        }
    }
}
