body.page {
    main {
        header, .page-header {
            text-transform: uppercase;
            padding: 20px 0;
        }
    }
    .block {
        display: table;
        width: 100%;
        table-layout: fixed;

        .block-content {
            display: table-cell;
        }

        @media screen and (max-width: $small-width) {
            display: block;
            .block-content {
                display: block;
            }
        }

        &.block-main {
            background-color: $brand-primary;

            .content-description {
                padding: $header-extra-height $main-padding $main-padding;
            }
            .content-image {
                width: 30%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-color: $brand-dark;
            }
            @media screen and (max-width: $medium-width) {
                .content-image {
                    width: 40%;
                }
            }

            @media screen and (max-width: $small-width) {
                .content-image {
                    width: 100%;
                    height: 300px;
                }
            }

            @media screen and (max-width: $phone-width) {

            }
        }

        &.block-columns {
            background-color: $brand-secondary;
            color: $brand-primary;
            text-align: center;
            counter-reset: COLUMNS 0;

            .content-column {
                padding: 8.75em $about-step-padding $about-step-padding;
                position: relative;
                &:before {
                    content: counter(COLUMNS);
                    counter-increment: COLUMNS;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    z-index: 0;

                    font-size: 11em;
                    font-weight: bold;
                    color: $brand-third;
                }

                header, section {
                    position: relative;
                    z-index: 1;
                }

                header {
                    font-size: 34px;
                    font-weight: bold;
                    margin-bottom: 0.5em;
                }

                section {
                    font-size: 18px;
                }
            }
        }
    }

    .section-multicontent {
        .block {

            &.block-main {
                display: flex;

                .block-content {
                }

                .content-description {
                    flex-shrink: 4;
                    .page-content {
                        margin-bottom: 20px;
                    }
                }

                .content-image {
                    width: 35%;
                    flex-grow: 1;
                }

                @media screen and (max-width: $small-width) {
                    display: block;
                    .block-content {
                        display: block;
                    }

                    .content-image {
                        width: 100%;
                    }
                }

                &.block-main-even {
                    background-color: $brand-primary;

                    header, .page-header, ul {
                        color: $brand-secondary;
                    }

                    svg * {
                        fill: $brand-secondary !important;
                    }
                }

                &.block-main-odd {

                    color: $brand-primary;
                    background-color: $brand-secondary;

                    .content-description {
                    }
                    .content-image {
                        order: -1;
                    }

                    svg * {
                        fill: $brand-primary !important;
                    }

                    @media screen and (max-width: $small-width) {
                        .content-description, .content-image {
                            position: static;
                            left: auto;
                        }
                    }
                }

                .label {
                    max-width: 150px;
                }
            }

            &.block-without-content {
                background-color: $brand-dark;
                color: $brand-primary;

                svg * {
                    fill: $brand-primary !important;
                }
            }
        }
    }

    .section-dual-tiles {
        display: flex;
        flex-wrap: wrap;
        .block.block-dual-tile {
            width: 50%;
            display: flex;

            .block-content {
                display: block;
                width: 50%;
            }

            &:nth-child(4n+3), &:nth-child(4n+4)
            {
                .content-description {
                    order: 1;
                }
            }
        }

        @media screen and (max-width: $small-width) {
            .block.block-dual-tile {
                width: 100%;

                &:nth-child(4n+3), &:nth-child(4n+4)
                {
                    .content-description {
                        order: 0
                    }
                }

                &:nth-child(even)
                {
                    .content-description {
                        order: 1;
                    }
                }
            }
        }
    }

    ul.list-items {
        text-align: center;
        font-weight: bold;
        .list-item {
            display: inline-block;
            margin-right: 20px;
            padding: 10px;
            box-sizing: border-box;

            &:last-of-type {
                margin-right: 0 !important;
            }

            svg, img {
                width: 50px !important;
                height: auto !important;
            }
        }
    }

    .two-columns-scrollable {
        height: 100%;
        display: flex;
        flex-direction: column;

        .scrollable-nav {
            display: none;
            text-align: center;
            font-weight: bold;
            font-size: 0;
            white-space: nowrap;
            padding: $header-extra-mobile-height + 20px 0 $header-extra-mobile-height;

            .scrollable-nav-item {
                display: inline-block;
                font-size: 20px;

                &:after {
                    content: '\00a0|\00a0';
                    display: inline;
                }

                &:last-of-type {
                    &:after {
                        display: none;
                    }
                }

                &.active a {
                    text-decoration: underline;
                }
            }
        }

        .scrollable-container {
            position: relative;
            flex-grow: 2;
        }

        .scrollable-content {
            vertical-align: top;
            position: absolute;
            width: 50%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;

            &.content-gallery {
                ul {
                    li {
                        width: 33.33333%;
                        height: 0;
                        padding-bottom: 23%;
                        float: left;
                        list-style-type: none;
                        position: relative;

                        a {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            width: 100%;
                            height: 100%;

                            div {
                                height: 100%;
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-color: $brand-dark;
                            }
                        }
                    }

                    &:after {
                        content: '';
                        clear: both;
                        display: block;
                    }
                }
            }

            &:first-of-type {
                left: 0;
            }

            &:last-of-type {
                right: 0;
            }
        }

        @media screen and (max-width: $small-width) {
            .scrollable-nav {
                display: initial;
            }
            .scrollable-content {
                width: 100%;
                z-index: 0;
                transition: opacity .4s;
                opacity: 0;

                &.active
                {
                    opacity: 1;
                    z-index: 1;
                }
            }
        }
    }

    .wp-tiles-tile {

        &.with-post-id, &.with-url {

            .wp-tiles-byline {
                box-sizing: border-box;

                .wp-tiles-byline-wrapper {
                    position: relative;
                    height: 100%;
                    box-sizing: border-box;
                }

                .wp-tiles-byline-title {
                }

                .wp-tiles-byline-content {

                    .tagline {
                        display: block;
                    }
                }
            }
        }
    }

    @media screen and (max-width: $medium-width) {
        .block {
            &.block-main {
                .content-description {
                    padding: $header-extra-mobile-height $main-padding $main-padding;
                }
            }
        }
    }
}
