body.page-template-page-scan {

    header.banner {
        display: none;
    }

    .content {
        padding: 0 !important;
    }

    .block-main-container {

        .block.block-main {
            text-align: center;
            padding: 0;
            margin: 0 auto;

            label {
                display: block;
            }
        }

        .block-main-tickets {
            div[style*="margin: 16px 0"] {
                margin:0 !important;
            }
        }
    }

    .block-main-content {
        .message {
            padding-bottom: 30px;
        }
    }

    .content-scanner {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .app-logo {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 100px;
        height: 50px;
        background: url($image-path+'/accro/logo-full.png') no-repeat center;
        background-size: contain;
        z-index: 1;
    }

    .scanner-container {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000;

        canvas {
            display: none;
        }

        video {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            object-fit: cover;
        }

        .device-switcher {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 40px;
            height: 40px;
            background: #FFF url($image-path+'/icons/camera-switcher.svg') no-repeat center;
            background-size: contain;
            box-shadow: 0 0 5px rgba(0,0,0,0.8);
            border-radius: 10px;
        }
    }

    .qr-result-container {
        pointer-events: none;
        position: absolute;
        padding: 10px;
        box-sizing: border-box;
        transform: translateY(100%);
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.95);
        opacity: 0;
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
        color: #FFF;

        .qr-result {
            position: absolute;
            left: 0;
            width: 100%;
            top: 46%;
            transform: translateY(-50%);
        }

        .user-info {
            &.message {
                font-size: 1.8em;
            }
            &.name {
                font-size: 1.4em;
            }
            &.title {
                font-size: 1.2em;
            }
            &.entreprise {
                font-size: 1em;
            }
        }

        &.opened {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    .qr-status-container {
        pointer-events: none;
        position: absolute;
        left: 10px;
        bottom: 10px;
        width: 100px;
        height: 100px;
        box-sizing: border-box;
        padding: 10px;
        color: #FFF;
        background: rgba(255,255,255,0.2);
        box-shadow: 0 0 5px rgba(0,0,0,0.8);
        border-radius: 10px;

        .qr-status {
            position: relative;
            height: 100%;

            &:before {
                content: '';
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }

            &.success {
                .qr-icon {
                    background-image: url($image-path+'/icons/success.svg');
                }

            }

            &.failed {
                .qr-icon {
                    background-image: url($image-path+'/icons/failed.svg');
                }
            }

            &.warning {
                .qr-icon {
                    background-image: url($image-path+'/icons/warning.svg');
                }
            }

            &.loading {
                .qr-icon {
                    background-image: url($image-path+'/icons/loading.svg');
                }
            }

            &.scanning {
                @keyframes scan {
                    from {transform: scale(1.25, 1) translateY(-2%)}
                    to {transform: scale(1.25, 1) translateY(94%)}
                }
                .qr-icon {
                    background-image: url($image-path+'/icons/scanning.svg');
                    transform: scale(1.25, 1);
                    opacity: 0.2;
                    animation: scan 1s infinite ease-in-out;
                    animation-direction: alternate;
                }
            }
        }

        .qr-label {
            position: relative;
            z-index: 1;
            font-size: 60px;
            top: -4px;
            left: -1px;
            display: inline-block;
            vertical-align: middle;
        }

        .qr-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
            background-size: contain;
            opacity: 0.5;
        }

        .qr-icon {
            opacity: 0.75;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: contain;
            transform: scale(1.4);
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .content-scanner-static {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;

        .qr-result-container {
            transform: none;
        }
    }

    footer {
        display: none;
    }

    @media only screen and (max-width: 600px){
        .ticket-infos {
            max-width: 400px !important;
        }
    }

}
