body.page-template-page-scan {
    .block-main-container {

        .block.block-main {
            text-align: center;
            padding: 0;
            margin: 0 auto;
            box-sizing: border-box;
            padding: 40px 0 30px;

            label {
                display: block;
            }
        }

        .block-main-tickets {
            div[style*="margin: 16px 0"] {
                margin:0 !important;
            }
        }
    }

    .block-main-content {
        .message {
            padding-bottom: 30px;
        }
    }

    .content-scanner {
        video {
            width: 100%;
            background: black;
        }
    }

    footer {
        display: none;
    }

    @media only screen and (max-width: 600px){
        .ticket-infos {
            max-width: 400px !important;
        }
    }

}
