body.page-template-page-splash {

    header.banner .brand {
        display: none;
    }

    .block.block-main {
        max-width: 1200px !important;
        margin: 0 auto;
    }

    .splash-container {
        position: relative;
        max-height: 700px;

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }

        .splash-tagline {
            text-indent: -9999999999999px;
            position: absolute;
            top: 62%;
            font-size: 16px;
            font-size: 2.5vmin;
            width: 100%;
            transform: translateY(-50%);
            text-align: center;
            text-transform: uppercase;
            color: $brand-primary;
            text-shadow: 0px 0px 3px rgba(0,0,0,0.1);
        }
    }

    .main-content {
        padding: 0 160px;

        .main-description {
            text-align: right;
            position: relative;
            top: -20px;
            color: $brand-gray;
            text-transform: uppercase;

            h1 {
                font-size: 30px;
                font-size: 3.15vmin;
                line-height: 0.5em;
                display: inline-block;
            }

            h2 {
                font-size: 70px;
                font-size: 7.7vmin;
            }

            h3 {
                font-size: 24px;
                font-size: 2.5vmin;
                line-height: 0.5em;
                display: inline-block;
            }
        }

        ul.list-items {
            color: $brand-third;
            display: flex;
            justify-content: center;
            margin-top: 10px;

            .list-item {
                margin-right: 20%;
                padding: 0;

                svg, img {
                    width: 70px !important;
                }

                svg {
                    height: 70px !important;
                }

                .label {
                    font-size: 1.2em;
                }
            }
        }
    }

    /*footer.content-info {
        position: absolute;
        bottom: 0;
    }*/

    @media screen and (max-width: $medium-width) {
        .main-content {
            padding: 0 16%;

            ul.list-items {
                .list-item {
                    //margin-right: 10px;
                    img, svg {
                    }

                    .label {
                        font-size: 1em;
                    }
                }
            }
        }

        header.banner .header-content {
            padding-top: 0;
        }
    }

    @media screen and (max-width: $small-width) {
        .main-content {

            ul.list-items {
                .list-item {
                    font-size: 0.8em;
                    margin-right: 10%;
                    svg, img {
                        width: 40px !important;
                    }

                    svg {
                        height: 40px !important;
                    }

                    .label {
                    }
                }
            }
        }
    }
}
