body.page-template-page-splash {

    header.banner .brand {
        /*visibility: hidden;
        opacity: 0;
        pointer-events: none;*/

        &.show {
            visibility: visible;
            opacity: 1;
        }
    }

    footer.content-info {
        position: fixed;
        bottom: 0;
    }

    .block.block-main {

        &:not(.block-main-with-video) {
            max-width: 1200px !important;
        }

        &.block-main-with-video {
            .video-container {
                //max-width: 1200px !important;
                margin: 0 auto;
            }

            .splash-container {
                background: url($image-path+'/accro/video-bg_home.png');
                background-size: contain;
                max-height: none;

                img {
                    display: none;
                }
            }
        }

        margin: 0 auto;
    }

    .splash-container {
        position: relative;
        max-height: 700px;

        img {
            display: block;
            margin: 0 auto;
            width: 100%;
            height: auto;
        }

        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .video-container {
            position: relative;
            width: 75.5%;
            height: 0;
            padding-bottom: 36%;
            //pointer-events: none !important;
        }

        .splash-tagline {
            text-indent: -9999999999999px;
            position: absolute;
            top: 62%;
            font-size: 16px;
            font-size: 2.5vmin;
            transform: translateY(-50%);
            text-align: center;
            text-transform: uppercase;
            color: $brand-primary;
            text-shadow: 0px 0px 3px rgba(0,0,0,0.1);
        }
    }

    .main-content {
        padding: 0 160px 77px;

        .main-description {
            text-align: right;
            position: relative;
            top: -20px;
            color: $brand-gray;
            text-transform: uppercase;


            h1 {
                font-size: 30px;
                font-size: 3.15vmin;
                line-height: 0.5em;
                display: inline-block;
            }

            h2 {
                font-size: 70px;
                font-size: 7vmin;
            }

            h3 {
                font-size: 24px;
                font-size: 2.5vmin;
                line-height: 0.5em;
                display: inline-block;
                margin-right: 0px;
            }

            p {
                display: none;
            }

            .line-one {
            }

            .line-two {
            }
        }

        ul.list-items {
            color: $brand-third;
            display: flex;
            justify-content: center;
            margin-top: 10px;

            .list-item {
                margin-right: 20%;
                padding: 0;

                svg, img {
                    width: 70px !important;
                }

                svg {
                    height: 70px !important;
                }

                .label {
                    font-size: 1.2em;
                }
            }
        }
    }

    /*footer.content-info {
        position: absolute;
        bottom: 0;
    }*/

    @media screen and (max-width: $medium-width) {
        .main-content {
            padding: 0 16%;

            ul.list-items {
                .list-item {
                    //margin-right: 10px;
                    img, svg {
                    }

                    .label {
                        font-size: 1em;
                    }
                }
            }
        }

        .splash-container {
            .video-container {
                width: 100%;
                padding-bottom: 47.7%;
            }
        }

        header.banner .header-content {
            padding-top: 0;
        }
    }

    @media screen and (max-width: $small-width) {
        .main-content {

            ul.list-items {
                .list-item {
                    font-size: 0.8em;
                    margin-right: 10%;
                    svg, img {
                        width: 40px !important;
                    }

                    svg {
                        height: 40px !important;
                    }

                    .label {
                    }
                }
            }
        }
    }
}
