body.subtheme-accro {
    .content {
        padding-bottom: $footer-height;
    }
    header.banner {
        .header-wrapper {
            background-image: url($accro-image-path+'/header-bg-full.png');
            background-size: cover;
            background-color: #2f89a6;
        }

        .brand {
            margin-left: 0;
            height: $accro-logo-height;
        }

        li {
            text-shadow: 0px 0px 3px $brand-dark;

            &.current-menu-item a, a:hover {
                color: $brand-third;
            }
        }

        .nav-primary {
            li {
                a {
                    &:after {
                        color: $brand-primary;
                    }
                }
            }
        }

        @media screen and (max-width: $medium-width) {
            .brand {
                height: $accro-logo-mobile-height;
            }
        }
    }

    .block.block-main .content-description {
        padding: 30px;
    }

    .block.block-form h2 {
        color: $brand-dark;
    }

    main.main {
        .content-description {

            font-weight: bold;
            .page-header, header {
                white-space: nowrap;
                padding-top: 0;
                padding-right: 40px;
                position: relative;
                top: -0.5em;
                h1 {
                    text-transform: none;
                    font-size: 1.7em;
                }

                h2 {
                    color: $brand-secondary;
                }

                h2, h3 {
                    display: inline-block;
                }

                @media screen and (max-width: $small-width) {
                    top: 0;

                    h1 {
                        display: inline-block;
                    }
                }
            }
        }
    }

}
