$image-path: "../images/accro/";
$accro-logo-height: 100px;

body.subtheme-accro {

    header.banner {
        &:before {
            background-color: transparent;
            background-image: url($image-path+"/header-bg.png");
        }
        background-color: transparent;
        background-image: url($image-path+"/header-bg.png");
        .brand {
            margin-left: 0;
            height: $accro-logo-height;
        }

        li {
            text-shadow: 0px 0px 3px $brand-dark;

            &.current-menu-item a, a:hover {
                color: $brand-third;
            }
        }

        .nav-secondary {
            bottom: 2px;
        }
    }

    main.main {
        .content-description {
            .page-header, header {
                white-space: nowrap;
                padding-right: 20px;
                h2, h3 {
                    display: inline-block;
                }
            }
        }

        .section-multicontent {
            .block.block-main {
                &.block-main-even, &.block-main-odd {
                    color: $brand-dark;
                    header, .page-header, ul {
                        color: $brand-dark;
                    }
                }
                &.block-main-odd {
                    background: initial;
                }
            }
        }
    }

}
