body.subtheme-accro {

    header.banner {
        &:before {
            background-color: transparent;
            background-image: url($accro-image-path+'/header-bg.png');
        }
        background-color: transparent;
        background-image: url($accro-image-path+'/header-bg.png');
        .brand {
            margin-left: 0;
            height: $accro-logo-height;
        }

        li {
            text-shadow: 0px 0px 3px $brand-dark;

            &.current-menu-item a, a:hover {
                color: $brand-third;
            }
        }
    }

    main.main {
        .content-description {
            font-weight: bold;
            .page-header, header {
                white-space: nowrap;
                padding-top: 0;
                padding-right: 40px;
                position: relative;
                top: -0.5em;
                h1 {
                    text-transform: none;
                    font-size: 1.7em;
                }

                h2 {
                    color: $brand-secondary;
                }

                h2, h3 {
                    display: inline-block;
                }
            }
        }

        .section-multicontent {
            padding: $header-accro-extra-height 0;
            .block.block-main {
                &.block-main-even, &.block-main-odd {
                    color: $brand-dark;
                    header, .page-header, ul {
                        color: $brand-dark;
                    }
                }
                &.block-main-odd {
                    background: initial;
                }
            }
        }

        .section-about-immersive {
            .immersive-title {
                text-align: center;
                text-transform: uppercase;
            }
        }

        .block-content.content-image {
            max-height: 200px;
        }
    }

}
